<div>
  <h1 class="font-bold text-4xl">Registration#new</h1>
  <h1 class="font-bold text-4xl"> <%= @user.errors.any? %> </h1>
  <% if @user.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Holy smokes! Something went wrong!</strong>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, url: registrations_path, local: true do |form| %>
    <div class="mt-5">
      <%= form.label :name, class: "block" %>
      <%= form.text_field :name, class: "block w-full mt-1" %>
    </div>

    <div class="mt-5">
      <%= form.label :last_name, class: "block" %>
      <%= form.text_field :last_name, class: "block w-full mt-1" %>
    </div>

    <div class="mt-5">
      <%= form.label :birthdate, class: "block" %>
      <%= form.date_field :birthdate, class: "block w-full mt-1" %>
    </div>

    <div class="mt-5">
      <%= form.label :email, class: "block" %>
      <%= form.email_field :email, class: "block w-full mt-1" %>
    </div>

    <div class="mt-5">
      <%= form.label :password, class: "block" %>
      <%= form.password_field :password, class: "block w-full mt-1" %>
    </div>

    <div class="mt-5">
      <%= form.label :password_confirmation, class: "block" %>
      <%= form.password_field :password_confirmation, class: "block w-full mt-1" %>
    </div>

    <div class="mt-5">
      <%= form.submit "Sign Up", class: "bg-blue-500 text-white px-4 py-2 rounded cursor-pointer" %>
    </div>
  <% end %>
</div>
